@charset "UTF-8";
@import url("global.css");



.wrap{height: 552px;}
ul.keynote{height: 552px;}
ul.keynote>li {background: #fff; height: 552px;}
ul.keynote>li {position: relative; }
.keynote>li h2{ display: none}
.keynote>li h3{
  margin: 25px 0 0 115px;
  padding: 0 0 10px 78px;
  background:url(../images/underline.png) no-repeat 0 100%, url(../images/man.png) no-repeat 15px 0;
  color: #00489B;
  font-size: 22px;
  text-align: left;
  line-height: 25px;
  min-height: 50px;
}




.btn{
  position: absolute;
  height: 30px;
  width: 30px;
  display: block;
/*  background: yellow;
  opacity: .5;*/
}
.open_btn{
  position: relative;
  display: inline-block;
  width: 14px;
  height: 13px;
  text-indent: -9999px;
}

.window{height:552px;}
.window .box .close{
  top:0;
  right: 0;
}
.pdf_win{display: block; position: absolute; left:0; bottom:0; top: auto; right: auto; width: 100%; background:none; border: none; }

.pdf_win .box{     display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;border:none; position: absolute; left:0; bottom: 0; text-align: left; width:100%; line-height: 22px; color: #fff; height: 88px; background: url(../images/win.png) no-repeat;}
.pdf_win .box .close{
  top: 20px;
  right: 28px;
  width: 93px;
  height: 46px;
}
.pdf_win .cont{padding: 0 120px 0 40px;width:864px;}

.ppt_win{
  background:rgba(0, 0, 0, 0.4);
}
.ppt_win .box{
  border: none;
}

.ppt_win .box .close{
  top:10px;
  right: 10px;
  height: 50px;
  width: 50px;
}
.ppt_win img{
  display: block;
  line-height: 0;
}

.study-btn{
  width: 119px;
  height: 32px;
  background: url(../images/study-btn.png) no-repeat 0 0;
}

.video-btn{
  width:54px;
  height: 54px;
  background: url(../images/video-btn.gif);
  display: inline-block;
  position: absolute;
}
.{
  background: none;
  height: auto;
  top:0;
}
.video_win .cont{
  padding: 0;
}
.video_win .box{background:none;height:auto;position:relative;left:0;top:15px;width:600px;}
.video_win .box .m_close{position: absolute; top: 0; right: 0;}
.video_win .box .close{
  background: url(../images/close.png) no-repeat center center;
  width: 34px;
  height: 34px;
  top: -20px;
  right: -20px;
}

body{height: 100%}


.active1 {
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0;
-webkit-animation-timing-function: linear;
}

 h3.active1{ 
  -webkit-animation-name:active2;
}
.seq.active1{ position: relative;
  -webkit-animation-name:active3;
}
@-webkit-keyframes active1 {0%{opacity:0} 100%,33%,66%{opacity:1;}}
@-webkit-keyframes active2 {0%,33%{opacity:0} 100%,66%{opacity:1;}}
@-webkit-keyframes active3 {0%,33%,66%{opacity:0} 100%{opacity:1;}}
